.textarea {
    border: 1px solid lightgray;
    font: small -moz-fixed;
    font: -webkit-small-control;
    height: 100%;
    overflow: auto;
    padding: 5px;
    resize: both;
    width: 100%;
}

.highlight {
    color: red;
    font-weight: bold;
}

.highlight_parameter {
    color: black;
    background-color: yellow;
} 
